<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utt.scd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-feature
	    android:glEsVersion="0x00020000"
	    android:required="true"/>

    <permission
	    android:name="com.utt.scd.permission.MAPS_RECEIVE"
	    android:protectionLevel="signature"/>
    
    <uses-permission android:name="fr.rolandl.blog_itineraire.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/library_black"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyDqWW13IVhOhbZvRUFRlNYwfR2oGTcNZkg"/>
        
        <activity
            android:name="com.utt.scd.SCD"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        
        <activity
            android:name=".apropos.Apropos"
            android:label="A propos">
        </activity>
        
        <activity
            android:name=".apropos.Itineraire"
            android:label="A propos">
        </activity>
        
        <activity
            android:name=".apropos.QuestionsReponses"
            android:label="A propos">
        </activity>
        
        <activity
            android:name=".resultats.Resultats"
            android:label="Résultats">
        </activity>
        
        <activity
            android:name=".RechercheAvancee"
            android:label="Recherche Avancée">
        </activity>
        
        <activity
            android:name=".CompteLecteur"
            android:label="Compte Lecteur">
        </activity>
        
        <activity
            android:name=".Periodiques"
            android:label="Périodiques">
        </activity>
        
        <activity
            android:name=".Parametre"
            android:label="Paramètres">
        </activity>
    </application>

</manifest>